<h3>Play your word!</h3>
<form class="" action="score" method="post">
  <input type="text" name="word" />
  <h3>Get your score!</h3>
  <button class="submit btn" type="submit" name="button">Submit</button>
</form>
<section class="result">
<%= @score =%>
</section>
